/*start settings*/
/*this settings fix glider library*/

.glider__track {
    direction: ltr;
}

.glider__track * {
    direction: rtl;
}

/*end settings*/

/*start custom reset styles*/

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

/*end custom reset styles*/

.glider__slide {
    position: relative;
}

.post__category {
    position: absolute;
}

.post__category span {
    display: inline-block;
}

.post__image a {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.post__title a {
    text-decoration: none !important;
    transition: none !important;
}

.post__meta {
    display: flex;
    justify-content: space-around;
}

.post__meta > div {
    display: flex;
    align-items: center;
}

.post__meta .label {
    display: block;
    margin: 0 10px;
    line-height: 20px;
}
