#meeet-admin-page {
    background-color: #efe;
    padding: 10px;
    background-image: linear-gradient(#c55, #e77);
}

#meeet-admin-page .title {
    line-height: 50px;
    padding: 20px 0;
    text-align: center;
    font-family: IRANSansX, serif;
    animation: main-title 90s infinite;
    animation-timing-function: cubic-bezier(.5, -0.01, 0, 1);
}

@keyframes main-title {
    0% {
        font-size: 20px;
    }
    50% {
        font-size: 30px;
    }
    100% {
        font-size: 20px;
    }
}

#meeet-admin-page .title .__head {
    font-weight: bold;
    animation: main-__head 30s infinite;
    animation-timing-function: cubic-bezier(.5, -0.01, 0, 1);
}

@keyframes main-__head {
    0% {
        color: #844;
    }
    50% {
        color: #812;
    }
    100% {
        color: #844;
    }
}

#meeet-admin-page .buttons {
    margin: 0 auto;
    width: fit-content;
}

#meeet-admin-page .buttons button {
    padding: 10px 15px;
    border: 2px solid #333;
    opacity: .4;
    background: #812;
    color: #ddd;
    transition: .6s cubic-bezier(.35, .61, .42, .78);
    font-size: 20px;
    font-family: IRANSansX, serif;
}

#meeet-admin-page .buttons button:disabled {
    opacity: 1;
    color: white;
    transition: 1s cubic-bezier(.14, .69, .4, .94);
}

#meeet-admin-page .content._tabbing_el_active {
    display: block;
}

#meeet-admin-page .content {
    display: none;
    min-height: 100vh;
}

#meeet-admin-page .content .tab-title {
    padding: 0 15px 30px;
    font-size: 55px;
    font-weight: 800;
    font-family: IRANSansX, serif;
    color: #512;
}

#meeet-admin-page .tab-table .label {
    font-size: 22px;
    font-weight: 200;
    font-family: IRANSansX, serif;
    color: #533;
    display: inline-block;
    padding: 20px 40px;
}

#meeet-admin-page .tab-table .descr {
    background: #3010100c;
    padding: 10px 20px;
    border-radius: 3px;
    display: inline-block;
    font-family: IRANSansX, serif;
    color: #2227;
    font-size: 16px;
    line-height: 20px;
    margin: 20px -30px 0 0;
}

#meeet-admin-page .tab-table table {
    width: calc(100% - 80px);
    border-collapse: collapse;
    margin: 5px 40px;
    background: #3111;
}

#meeet-admin-page .tab-table table td {
    color: #311;
    font-family: IRANSansX, serif;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

#meeet-admin-page .tab-table table td:first-child {
    border-left: 1px solid #e77;
}

#meeet-admin-page input[type="checkbox"] {
    display: none;
}

#meeet-admin-page input[type="checkbox"] + label {
    box-sizing: border-box;
    width: fit-content;
    padding: 0 30px 0 10px;
    margin: 0 auto;
    background: #3113;
    color: #3119;
    font-size: 20px;
    display: block;
    border-radius: 12px;
    box-shadow: 0 0 10px 14px #3113;
    transition: 800ms;
    user-select: none;
}

#meeet-admin-page input[type="checkbox"]:checked + label {
    box-shadow: 0 0 10px 10px #822;
    background: #822f;
    color: #c99;
}

#meeet-admin-page input[type="checkbox"]:disabled + label {
    box-shadow: 0 0 10px 5px #5555;
    background: #5555;
    color: #999;
    animation: disabled-checkbox infinite 1s ease-in;
}

@keyframes disabled-checkbox {
    0% {
        rotate: 0.5deg
    }
    50% {
        rotate: -0.5deg
    }
    100% {
        rotate: 0.5deg
    }
}

#meeet-admin-page input[type="checkbox"]:checked + label:after {
    content: 'on';
}

#meeet-admin-page input[type="checkbox"] + label:after {
    content: 'off';
    display: inline-block;
    margin: 0 15px 0 0;
    width: 30px;
}

#meeet-admin-page input[type="checkbox"]:disabled + label:after {
    content: '';
}

#meeet-admin-page input[type="text"] {
    background: #3113;
    border: 1px solid #522;
    border-radius: 3px;
    width: 100%;
    padding: 5px 15px;
    font-size: 18px;
    font-family: IRANSansX, serif;
    color: #311;
    outline: none;
    transition: 2300ms;
    box-shadow: 0 0 12px 10px #3113;
}

#meeet-admin-page input[type="text"]::placeholder {
    color: #833b;
    padding: 0 10px;

}

#meeet-admin-page input[type="text"]:focus {
    background: #822f;
    color: #c99;
    box-shadow: 0 0 10px 10px #822f;
}

#meeet-admin-page input[type="text"]:disabled {
    animation: disabled-checkbox .5s infinite;
}